html {
  height: 100%;
  width: 100%;
}

.links{
  width:100%;
  background-color: #c0c0c0;
}

.links ul li{
  display:inline;
  padding: 2px 30px;
}

.links ul li:hover{
  background-color: #CDCDCD;
  color: #42426F;
   padding: 2px 30px;
}